body {
    height: 100%;
    margin:0px;
    background: url(https://www.maxpixel.net/static/photo/1x/Tibet-Lin-Zhi-Mountain-Peak-Peach-Blossom-7156175.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;

}